.topnav {
 background-color: #83D4FF;
  overflow: hidden;

}
.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
}
.borderless td, .borderless th {
    border: none;
}
