{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'WMPApp/style1.css' %}" type="text/css">
{% block body %}
<br>
<div class="container-flush">
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
        <div class="card card-body" style="padding: 5px;">
            <div class="row align-items-center">
                <div class="col-sm-auto">
                    <img src="/static/images/static/worker1.jpg" class="rounded-circle" width="42" height="42">
                </div>
                <div class="col">
                    <ul style="list-style-type:none; margin:0">
                        <li style="font-family:Arial;font-size:100%;"><B>Manuel Vallejo</B></li>
                        <li style="font-family:Arial;font-size:100%;">Code Developer</li>
                    </ul>
                </div>
                <div class="col">
                    <h5>55% Completado </h5>
                </div>
                <div class="col-sm-auto">
                    <button type="button" class="btn btn-primary">Calificar</button>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
