{% extends 'base.html' %}
{% block body %}
<div class="content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Total ventas</h5>
                    <h4 class="card-title">Ganancias</h4>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="lineChartExample"></canvas>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="fas fa-sync"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Valoraciones</h5>
                    <h4 class="card-title">Equipos</h4>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="fas fa-sync"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Progreso 2019</h5>
                    <h4 class="card-title">Proyectos</h4>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="bar-chart" width="330" height="140"></canvas>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="fas fa-stopwatch"></i> Last 7 days
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
{% load static %}
<script type="text/javascript" src="{% static 'WMPApp/chartEmpleado.js' %}"></script>
{% endblock %}
